.products{

display:flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
background-color: white;
margin-top: 30px;



}


.product_info{


  margin: 20px;
  list-style: none;

}
.products img{

  height: 10%;
  width: 60%;
}

